<!DOCTYPE HTML>
{% load static %}
<html>
 <head>
 <link rel="stylesheet" href="../static/Css/siteorders.css" type="text/css"/>
      <link href="../static/Css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" type="text/css" rel="stylesheet" />
    <link href="../static/Css/templatemo-diagoona.css" type="text/css" rel="stylesheet" />
  <meta charset="utf-8">
  
  <title>Мои объявления</title>
 </head> 
 <body>
    <div class="topnav" id="myTopnav">
        <a href="siteorderpostav.html" class="active">Мои объявления</a>
        <a href="stieaccpostavshik.html">Главная страница</a>
        <a href="{% url 'logout' %}">Выйти из аккаунта</a>

       
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
      <script src="../static/Jss/script.js"></script>

       <form method="post">
            {% csrf_token %}
      <table class="delivery" >
        <thead>
        <tr >
        <th></th>
        <th>Название товара</th>
        <th>Количество</th>
        <th>Цена оптом</th>
        <th>Дата изготовления</th>
        <th>Срок годности</th>
        </tr>

        <tbody>
          {% for anonser in tablesee %}
          {% include 'sitePostavshik/OrderTable.html' %}
          {% endfor %}

        </tbody>
        </table>

         <input type="submit" class="button1" name="add" value="Добавить объявление" >
        <input type="submit" class="button1" name="update" value="Изменить объявление" >

        <input type="submit" name="delete" class="button1" value="Удалить объявление">
        </form>
    </body>
</html>