<!DOCTYPE html>
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" type="text/css" rel="stylesheet" />
    <link href="../static/Css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="../static/Fonts/css/all.min.css"  rel="stylesheet" />
    <link href="../static/Css/templatemo-diagoona.css" type="text/css" rel="stylesheet" />

</head>

<body>
    <div class="tm-container">        
        <div>
            <div class="tm-row pt-4">
                <div class="tm-col-left"></div>
                <div class="tm-col-right">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example mr-0 ml-auto" type="button" 
                            data-toggle="collapse" data-target="#navbar-nav" 
                            aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav text-uppercase">
                                <li class="nav-item active">
                                    <a class="nav-link tm-nav-link textsmall"  href="#" >Главная страница <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link textsmall" href="/MainSite/about.html">О нас</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link textsmall" href="/MainSite/services.html">Услуги</a>
                                </li>                            
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link textsmall" href="/registration.html">Регистрация</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link textsmall" href="/login.html">Войти</a>
                                </li>
                            </ul>                            
                        </div>                        
                    </nav>
                </div>
            </div>
            
            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <h2 class="mb-5 tm-content-title">Склад "Magnitus"</h2>
                        <p class="mb-5">Как предприятие оптовой торговли, было организовано в августе 1997 года. До этого она была представлена несколькими небольшими фирмами, работающими на продуктовом рынке города Екатеринбург с 1994 года. Фокус группа снабжения, которой занимается "Magnitus": организации, различных форм собственности, находящиеся как в городе Екатеринбург, так и в самых дальних уголках Свердловской области.</p>
                        <hr class="mb-5">
                        <p class="mb-5">"Magnitus" осуществляет обслуживание сетевых и розничных магазинов, прямые продажи покупателям и доставку по области.<br>
                        "Magnitus" имеет долгосрочные партнерские отношения с ведущими предприятиями мукомольной, зерноперерабатывающей, сахарной отраслями и организациями, занимающимися производством растительных масел и макаронных изделий, комбинатами и заводами. <br>Также поставщики могут сами оставлять свои заявки на свои продукции. </p>                        
                    </section>
                </main>
            </div>
        </div>        

        <div class="tm-row">
            <div class="tm-col-left text-center">
                <ul class="tm-bg-controls-wrapper">
                    <li class="tm-bg-control active" data-id="0"></li>
                    <li class="tm-bg-control" data-id="1"></li>
                    <li class="tm-bg-control" data-id="2"></li>
                </ul>
            </div>
        </div>


        <div class="tm-bg">
            <div class="tm-bg-left"></div>
            <div class="tm-bg-right"></div>
        </div>
    </div>
    <script src="../static/Jss/jquery-3.4.1.min.js"></script>
    <script src="../static/Jss/bootstrap.min.js"></script>
    <script src="../static/Jss/jquery.backstretch.min.js"></script>
    <script src="../static/Jss/templatemo-script.js"></script>
</body>
</html>