{% block content %}
<tr tabindex="0">
	<td><input type="radio" id="check{{ orderser.id }}" name="id" value="{{ orderser.id }}"/></td>
	<td><label for="check{{ orderser.id }}">{{ orderser.Product_Name }}</label></td>
	<td><label for="check{{ orderser.id }}">{{ orderser.Product_Sum }}</label></td>
	<td><label for="check{{ orderser.id }}">{{ orderser.Product_Price }}</label></td>
	<td><label for="check{{ orderser.id }}">{{ orderser.Product_Production_Date }}</label></td>
	<td><label for="check{{ orderser.id }}">{{ orderser.Product_Expiration_Date }}</label></td>
</tr>
{% endblock %}